<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/normal_base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<!-- <title th:text=${title}></title> -->
</head>
<body>


	<section>
		<div class="container">
			<div class="card">
				<div class="card-body">
					<div class="container text-center">
						<img th:src="@{'/images/'+${user.imageUrl}}" class="user_img">	
					</div>
				</div>		
			<h5 class="ml-1">Note:- The Smart contact manager web app in this app you can save own contact.</h5>
			
			</div>
			
		</div>
		
	</section>

</body>
</html>