<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
					  th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text=${title}></title>
</head>
<body>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-cart">
						<h3>About Us Page</h3>
						 	<div class="card p-3">
							 	<div class="text-center">
							 		<img alt=""class="img" src="images/default.jpg">
							 	</div>
						 	
						 		<h3 class="text-center">I'm Ravendra kumar & I'm java developer.</h3>
						 		
						 	</div>
							
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>